*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #1E2D3B;
}
header{
  background-color: rgb(46, 58, 70);
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img{
  height: 70px;
  width: 70px;
}
.input-area{
  display: inline-block;
}
.container{
  display: flex;
  margin: 20px 50px;
  justify-content: center;
  flex-wrap: wrap;
}
input{
  border-radius: 10px 0 0 10px;
  border-style: none;
  height: 30px;
  padding-left: 10px;
}
button{
  height: 30px;
  border: none;
  background-color: white;
  padding-right: 10px;
  border-radius: 0 10px 10px 0;
}
.box{
  height: 500px;
  width: 342px;
  margin: 10px 10px;
  text-align: center;
  position: relative;

}
.box p{
  font-size: 15px;
}
.box h4, .box p{
  color: grey;
  margin-bottom: 20px;
}
.box .description img{
  width: 30px;
  height: 30px;
}
.box li{
  display: inline-block;
}
.fa-star:before{
  color: white;
}
.none{
  display: none;
}
.active{
  display: block;
}
.box .poster {
  width: 342px;
  height: 500px;
}
.description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  max-height: 340px;
}
.box:hover .description{
  opacity: 1;
  transition: 0.75s;
}
.box:hover .poster{
  opacity: 0;
  transition: 0.75s;
}
.box:hover{
  cursor: pointer;
}
